body {
    background-color: #6cbf84;
}

img {
    min-width: 100%;
    height: auto;
}

#show {
    background-color: #323339;
    color: #dfe2d2;
}

#start {
    background-color: #323339;
    color: #dfe2d2;
}

#hb_div h1 {
    color: #f26968;
}