html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 80px;
}

.footer {
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

footer div {
    padding: 0 !important;
}

footer p {
    margin-bottom: 0 !important;
}

.header div {
    padding: 0 !important;
}

.card {
    margin: 0!important;
}


/*Footer*/
.fa-quora{
    color: #B92B27;
}

.fa-linkedin{
    color:#0090C1;
}

.fa-github{
    color:#373C40;
}

.fa-stack-overflow{
    color: #F48024;
}